<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Please login with <a href="https://api.weibo.com/oauth2/authorize?client_id=3949376761&response_type=code&redirect_uri=<%= callback %>">sina weibo</a>.</p>
</body>
</html>
